/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	max-width: 300px;
	position: relative;
}

.profil {
	background-color: #31363b;
}

.obsah {
	padding: 20px;
}

.foto {
	max-width: 300px;
}

.logo {
	background-color: #b92e81;
	border-radius: 60px;
	position: absolute;
	margin-left: -70px;
	margin-top: 170px;

}

h1 {
	font-family: 'Montserrat', sans-serif;
	color:white;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	color:white;
}

.odkazy a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	display: inline-block;
}

.odkazy .portfolio a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: white;
	padding-top:10px;
	padding-bottom:10;
	padding-left:60px;
	padding-right:60px;
}

.portfolio {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	text-align: center;
	width: 100%;
	border: 1px solid #3f464d
}

.facebook,
.twitter {
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
    text-decoration: none;
	text-align: center;
	width: 50%;
	border: 1px solid #3f464d
}

.portfolio a:hover{
	background-color: #e74c3c;
	width: 100%;
}

.facebook a:hover{
	background-color: #3b5998;
	width: 100%;
}

.twitter a:hover{
	background-color: #1da1f2;
	width: 100%;
}

ul {
	padding: 0;
	margin: 0;
}